
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.one{
    background-color:rgb(150, 150, 50);
    width: 100vw ;
    height:100vh ;
    max-width: 100vw;
    font-size: 0%;
}
.sidebar{
    height: 100%;
    width: 20%;
    background-color: rgb(94, 7, 59);
    display: inline-block;
    font-size: 20px;
    border-right: 4px;
}
.main{
    height: 100%;
    width: 80%;
    background-color: rgba(197, 186, 252, 0.791); 
    display: inline-block;
    overflow: auto;
    vertical-align:top;
    font-size: 20px;
    border-right: 5px solid black;


}
.main > h1 {
    font-family: Geneva, Verdana,
    font: 60px;
    font-style: italic;
    color:  rgb(94, 7, 59);
    margin-top:70px;
    margin-left:20px;
}
p {
    font-size: 10px;
    color:  black
    margin-left: 20px;
    margin-top: 5px;
}
.social-icons i {
    color: rgb(94, 7, 59);
    text-decoration: none;
    margin-top: 8%;
    margin-left: 20px;
}
.social-icons a{
    text-decoration: none;
    text-align: justify;
    padding: 20px;
}
.experience > h2 {
     color: rgb(94, 7, 59);
      font-family: Geneva, Verdana;
      margin-left: zzpx;
    
}
img {
    height: 130px;
    width: 130px;
    border: 5px  solid rgba(197, 186, 252, 0.791);
    margin-top: 40%;
    border-radius: 50%;
    margin-left: 8%;
}
.nav > a {
    margin-top: 9%;
    margin-left: 15%;
    color:rgba(197, 186, 252, 0.791);
    font-size: small;
    display: block;
    font-style: oblique;
}
.nav a:hover{
    color:rgba(197, 186, 252, 0.791);
}
.nav a:active{
    color: black;
}

/* .header{
    color
    margin-left: 20px;  rgb(94, 7, 59);
}
.header > p {
    color: black !important;
    font-size: small;
    te
} */
 .main p {
    margin-left: 20px;
 }
 .header {
    color: rgb(94, 7, 59);
    margin-left: 15px;
 }
#li {
    font-size: small;
    margin-left: 15px;
    
}
.li > li {
     font-size: small;
    margin-left: 18px;
    margin-top: 6px;
}